<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>546865848360-6vlplkg07crjub4lpc8te5o1klj3tks5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.546865848360-6vlplkg07crjub4lpc8te5o1klj3tks5</string>
	<key>API_KEY</key>
	<string>AIzaSyB-zXB25PckLbZqoZt5dW8IOPSfnd1ADWE</string>
	<key>GCM_SENDER_ID</key>
	<string>546865848360</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>app.myjunto.client</string>
	<key>PROJECT_ID</key>
	<string>juntochat-dev</string>
	<key>STORAGE_BUCKET</key>
	<string>juntochat-dev.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:546865848360:ios:5f003370aa0af51018551d</string>
	<key>DATABASE_URL</key>
	<string>https://juntochat-dev.firebaseio.com</string>
</dict>
</plist>